* {
    /* margin: 0;
    padding: 0; */
}

body {
    background-color: rgb(224, 247, 247);
}

h1 {
    color: brown;
    text-align: center;
    /* padding: 10px; */
}

h2 {
    color: rgb(99, 28, 150);
    text-align: center;
    /* padding: 10px; */
}